.product-list {
    background-color: white;
    overflow: auto;
    
    &> div {
        min-width: 800px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    
        thead {
            font-weight: bold;
            background-color: #eee;
            text-align: left;
        }
    
        tr {
            border-bottom: 1px solid #bbb;
        }

        th, td {
            padding: 1rem;
        }
    }
}